p.pair{
			color: yellow;
			font-family: comic sans ms;
			font-style: italic;
			background: black;
		}
		p.impair{
			color: red;
			font-family: verdana;
			background-color: gray;
			font-style: italic;
			font-weight: bold;	
		}
		h1{
			color: red;
			font-family: wide latin;
		}