h1{
    margin-top: 35px;
}

body{
    background: url("../images/bgf1.jpeg");
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Formula1;
}

div.f1text{
    margin: 90px;
    margin-top: 30px;
    margin-bottom: 0px;
    border: 3px solid yellow;
    padding: 5px;

}

div.f1logo{
    width: 10px;
    float: left;
    height: 10px;
    margin-top: 0px;
}

div.fialogo{
    width: 10px;
    height: 10px;
    margin-left: 0px;
    float: right;
    margin-top: -5px;

}