body{
    background: url("../images/bgf11.png");
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Formula1;
    background-size: cover;
    background-attachment: fixed;
}


li.mercedes{
    color: cadetblue;
}

li.ferrari{
    color: red;
}

li.redbull{
    color: navy;
}

li.haas{
    color: dimgray;
}

li.forceindia{
    color: pink;
}

li.renault{
    color: gold;
}

li.mclaren{
    color: darkorange;
}

li.tororosso{
    color: blue;
}

li.sauber{
    color: darkred;
}

li.williams{
    color: skyblue;
}