div{
	border-style: solid;
	border-color: grey;
	background-color: rgb(10,220,100);
	color: white;
	width: 30%;
	text-align: center;	
	/*margin: 2%;*/

}
#d2{
	position: relative;
	left: 408px;
	top: -24px;
}