	
	h1{
		text-align: center;
	}
	
	body{
		background-image: url("bg.jpeg");
		color: yellow;
		font-family: Helvetica Neue;
	}

	div.action{
		margin: 5px;
		border: 1px solid #ccc;
		float: left;
		width: 180px;
	}

	div.action img{
		width: 100%
		height: auto;
	}

	#venon{
		width: 600;
		height: 400;

	}

	#spider{
		width: 600;
		height: 400;
	}

	#equal{
		width: 600;
		height: 400;
	}

	#mifall{
		width: 600;
		height: 400;
	}